body {
    background-color: rgb(239, 180, 253);
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}
body p {
    color: rgb(71, 0, 165);
    font-size: 40px;
}
section{
    height: 50;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: #333;
    line-height: 1.5;
}
#contacto {
    color: rgb(13, 0, 48);
    font-size: 20px;
}